.container{
    width: 70%;
    margin: 70px auto;
}
.main-privacy{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 135px auto;
}
.main-privacy a{
    color: #635959;
    font-size: 20px;
}
.main-privacy h1{
    font-size: 40px;
}
p{
    color: #6c6868;
}
.privacy-info >*{
    margin-bottom: 30px;
}
.privacy-down{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.left-privacy-down{
    text-align: center;
}