.header-links{
background-color: #000;
width: 100%;
}
.header-right-links{
margin-left: 850px;
}
.header-links .header-right-links ul{
    cursor: pointer;
    color: #fff;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 18px;
    padding: 10px;
}
.header-links .header-right-links ul a{
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #fff;
    transition: 0.5s;
}
/* .usa-de-switch {
    position: relative;
    display: inline-block;
    height: 18px;
    margin-bottom: 28px;
} */
.usa-de-switch .switch-website{
    display: none;
}
.header-links .header-right-links ul a:hover{
    color: #80c241;
}
@media screen and (max-width: 480px){
    .header-links{
        display: none;
        }
}
@media screen and (min-width : 481px) and (max-width : 768px){
    .header-links{
        display: none;
        }
}
@media screen and (min-width : 769px) and (max-width : 1024px){
    .header-links{
        display: none;
        }
}
